*{
    margin:0;
    border:border-box;
    font-family:arial;

}
a{
    text-decoration: none;

}

.navbar{
    height:60px;
    color:white;
    background-color:#0f1111;
    display:flex;
    justify-content:space-evenly ;
    align-items:center;
}
.nav-logo{
    height:50px;
    width:128px;
}
.logo{
    background-image: url("amazon-logo.png");
    height:50px;
    width:110%;
    background-size:cover;
}

.border{
border:1.2px solid transparent;
 }
 .border:hover{
    border:1.5px solid white;
 }

/* box2 */

 .add-first{
    color:#CCCCCC;
    /* rem is for as the width changes accordingly the size of the font changes */
    font-size: 0.85rem ;
    margin-left:15px;

 }

 .add-sec{
    font-size: 1rem ;
    margin-left:5px;
 }
.add-icon{
    /* for getting both in one lie icon &ind */
    display:flex;
    /* along the cross axis it comes in the middle  */
    align-items:center; 
}

/* box3 */

.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: orangered;
    width:650px;
    height:40px;
    border-radius:3px;
}
.search-select{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border:none;
    background-color:#f3f3f3 ;
    width:50px;
    height:40px;
    text-align: center; 
}
.search-input{
    width:100% ;
        /* height:35px; */
    font-size: 1rem;
    border:none;
}

.search-input:hover{
    border:2px solid orange;
}
.search-icon{
    width:45px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* box4 */

span{font-size: 0.7rem;
}
.nav-sec{
font-size: 0.85;
font-weight: 700;
}

/* box6 */
.nav-cart{
    font-size: 0.85;
    font-weight: 700;
    display:flex;
}

.nav-cart i{
    font-size:30px; 
}
/* pannel */

.panel{
    height:40px;
    background-color: #222f3d;
    display:flex;
    color:white;
    justify-content: space-evenly;
    align-items: center;
}

.panel-opts p{
 display: inline;
 font-size:14px;
 margin:5px 0px 6px;
 padding:8px 9px;
 width:70%;
}
.panel-opts p:hover {
    border:2px solid white;
}
/* hero-section */

.hero-section{
      width:100%;
      height:400px; 
    /* height:auto;
    width:auto;   */
    background-image:url("hero-image.jpg");
    background-size:cover;
}

/* shop-section */

.shop-section1{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    /* height:1000px; */


}
/* Container for all items */
   .container {
    display: flex;             /*Flexbox layout*/
     /* flex-wrap: wrap;       */
         /* Allows wrapping items to new rows */
    justify-content:center;
     /* Centers content horizontally */
    gap: 20px;               
      /* Space between boxes */
    /* border:2px dotted black; */
    height:auto;
    width:auto;
}

/* Individual item */
.item {
    border-radius: 5px;        /* Rounded corners */
    width: 100%;            /* Controls the box width */
    justify-content:space-around;
}

.item img {
    width: 100%;             /* Makes image fill the box */
    height: auto;              /* Keeps image proportions */
    display: flex;
    /* margin-bottom:10px;  */
       /* Adds space between image and text */
    
}

.item p {
    font-size: 14px;           /* Adjusts font size */
    font-weight: bold;         /* Makes text bold */
    color: #333;
    margin-bottom: 10px;
}


.box{
    /* border:2px solid black; */
     height:400px;
     width:23%;
     background-color: white;
     padding:20px 0px 15px;
     margin-top: 1rem; 
     /* border:2px solid black; */

}
.allimg{
    /* border:5px solid black; */
    /* height:280px; */
    margin-top:20px;
    /* display: block; */
    justify-content: space-evenly;
    align-items: center;
    /* padding:10px; */
  
}

.box-image{
    width:160px;
    height:100px;
    background-image: cover ;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-right:1rem;
    /* border:2px solid black; */
}
.box-image span{
    font-size: 15px;
    /* border:2px solid black; */
    padding:10px;


}

.box-content{
    height:40px;
    margin-left:20px;
    margin-right:20px;
    /* border:2px solid black; */

    }
  
.box-content p{
    color:#007185;
    width:260;
    /* height:16px; */
    font-size:16px;
    margin: 20px 0px 0px 0px ;
    /* padding:0px 20px 0px 20px; */
}

.img{
    /* width:200px;
    height:200px; */
    display:flex;
    justify-content: space-evenly;
    /* border:2px solid black; */
    margin:20px;
    

}
img1{
    width:200px;
    height:200px;
    background-image: url("box3-1.jpg");
    background-size: cover;
    margin-right: 20px;
}
.img2{
    width:200px;
    height:200px;
    background-image: url("box3-2.jpg");
    background-size: cover;
    margin-right: 20px;

}

 .img3{
    width:200px;
    height:200px;
    background-image: url("box3-3.jpg");
    background-size: cover;
    margin-right: 20px;

 }

 .img4{
    width:200px;
    height:200px;
    background-image: url("box3-4.jpg");
    background-size: cover;
    margin-right: 20px;

 }
 .img5{
    width:200px;
    height:200px;
    background-image: url("box3-5.jpg");
    background-size: cover;
    margin-right: 20px;
 }

 .img6{
    width:200px;
    height:200px;
    background-image: url("box3-6.jpg");
    background-size: cover;
    margin-right: 20px;
 }

 .sevenimg{
    width:200px;
    height:200px;
    background-image: url("sevenimg.jpg");
    background-size: cover;
    margin-right: 20px;
 }


 footer{
    margin-top: 5px;
}
.foot-panel1{
    background-color: #37475a;
    color:white;
    height:50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size:15px;
}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height:300px;
    display:flex;
    justify-content: space-evenly;
}

ul{
    margin-top:20px;
}
ul a{
    display:block;
    font-size:0.85rem;
    margin-top:10px;
    color:#dddddd;
}

.foot-panel3{
   background-color: #222f3d;
   color:white;
   border-top:0.5px solid white;
   height:70px;
    display:flex;
    justify-content: center;
    align-items: center; 
   
}




.logo2{
    background-color: #222f3d;
    background-image: url("amazon-logo.png");
     height:40px; 
   width:115px;
    background-size:cover;
}

.lang{
    display:flex;
    justify-content: center;
    align-items: center;
    border:2px solid white;
    border-radius: 4px;
    margin:30px;
    padding:10px 10px 10px 10px;
}
.lang i{
    opacity: 0.9;

}
.lang p{
    padding-left:15px;
    color: #DDDDDD;
    padding:2px 18px 2px 18px;
}


.foot-panel4{
    background-color: #0f1111;
    color:white;
    height:76px;
}
.pages{
    font-size:0.7rem;
    text-align: center;
    padding-top: 25px;
}
.copyright{
    font-size:0.7rem;
text-align: center;
padding-top: 5px;

}



